* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrains Mono;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(15, 15, 15, 1.0);
    color: #aaaaaa;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    background-color: #aaaaaa;
    color: #151515;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover, #clock:hover, #network:hover, #cpu:hover, #memory:hover, #privacy:hover, #idle_inhibitor:hover {
    background-color: #aaaaaa;
    color: #151515;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background: #aaaaaa;
    color: #151515;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
}

#clock {
    font-size: 24px;
}

#window,
#workspaces {
   /* margin: 0 4px; */
}

#workspaces button.active {
    background-color: #aaaaaa;
    color: #151515;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#taskbar button.active {
    background-color: #151515;
    box-shadow: inset 2px 0px 0px 0px #aaaaaa;
}

#taskbar button:hover {
    background-color: #aaaaaa;
}
